@media (max-width: 767.98px) {
  #home--page .hero .overlay .text-container .sub-title {
    font-size: 39px;
  }
  #home--page .hero .overlay .text-container .title {
    font-size: 20px;
  }
}
@media (max-width: 1199.98px) {
  .header-login {
    display: none;
  }
  .mobile-burger {
    display: block!important;
  }
}
.hidden {
  display: none;
}
label {
  width: 100%;
}
.btn-dark {
  color: #fff!important;
}
p {
  margin-bottom: 0px;
}
