@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto|Dosis');
body,
html {
  padding: 0px;
  margin: 0px;
}
body {
  height: 100%;
  background-color: #fcfcfc;
  font-family: "Roboto";
  letter-spacing: .5px;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
}
h4 {
  font-size: 37px;
}
.website-container {
  min-height: 100vh;
  z-index: 99;
  background-color: #fcfcfc;
  margin-bottom: 0px;
  position: relative;
  box-shadow: 0 0 10px #333;
  padding-bottom: 50px;
  margin-bottom: -50px;
}
a {
  color: #4580e0;
}
a:hover {
  color: #4580e0;
}
.btn-primary {
  background-color: #4580e0;
  border-color: #4580e0;
}
.btn-primary:hover {
  background-color: #2353a0;
  border-color: #4580e0;
}
.secondary {
  color: #4580e0;
}
.primary {
  color: #333;
}
.bolder {
  font-weight: 700;
}
.hamburger {
  padding: 9px;
}
.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
  background-color: #fff !important;
  width: 30px !important;
}
.slick-track {
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-light {
  color: #333 !important;
}
header {
  width: 100%;
  height: 70px;
  z-index: 99;
  position: relative;
}
header .header-login-logged {
  display: inline-block;
  user-select: none;
}
header .top {
  height: 70px;
  width: 100%;
  background-color: #333;
  border-bottom: solid 1px #fff;
}
header .top .mobile-burger {
  display: none;
  float: right;
  color: #fff;
  font-size: 35px;
}
header .top .header-logo {
  float: left;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open Sans";
  color: #fff;
}
header .top .header-logo .main {
  font-size: 30px;
  font-weight: 600;
}
header .top .header-logo .blog {
  font-size: 15px;
  color: #7fa5e2;
}
header .top .header-login {
  float: right;
  padding-top: 9px;
  color: #fff;
}
header .top .header-login .welcome-message {
  padding-right: 10px;
}
header .top .header-login a {
  color: #fff;
}
header .top .header-login .btn:hover {
  color: #333;
}
header .top .header-login .header-login-btn {
  margin-right: 10px;
}
header .top .header-login nav {
  float: left;
  margin-right: 10px;
}
header .top .header-login nav ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
header .top .header-login nav ul li {
  display: inline-block;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  transition: .5s;
  cursor: pointer;
}
header .top .header-login nav ul li:last-child {
  border: 0;
}
header .top .header-login nav ul li a {
  color: #fff;
  transition: .3s;
}
header .top .header-login nav ul li a:hover {
  text-decoration: none;
  color: #7fa5e2;
}
header .top .header-login nav ul li:hover {
  background-color: #333;
}
.login-container .card-header {
  font-size: 20px;
  padding: 20px;
}
.login-container .login-form {
  padding: 20px;
  padding-top: 30px;
}
.login-container .login-form #login--submit {
  background-color: #4580e0;
  color: #fff;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-container .login-form label {
  display: block;
  margin-bottom: 20px;
}
.register-container #register--submit {
  background-color: #4580e0;
  color: #fff;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.register-container label {
  width: 100%;
}
.register-container .register-form {
  padding: 20px;
}
#mobile-navigation {
  width: 50%;
  background-color: #fcfcfc;
  height: 100%;
  position: fixed;
  right: 0px;
  z-index: 0;
  padding-top: 20px;
}
#mobile-navigation .user {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#mobile-navigation .user .username {
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  color: #4580e0;
  text-transform: uppercase;
  text-decoration: underline;
}
#mobile-navigation ul {
  margin-left: 20px;
  list-style: none;
  padding-left: 0px;
}
#mobile-navigation ul li {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #666;
}
#mobile-navigation ul li a {
  font-family: "Open Sans";
  font-size: 20px;
  color: #333;
}
.contact {
  margin-top: 50px;
  width: 100%;
  background-image: url('/images/contact.jpeg');
  background-size: cover;
  background-position: center center;
}
.contact .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding-bottom: 50px;
}
.contact .overlay .contact-inner {
  padding-top: 20px;
}
.contact .overlay .contact-inner .contact-title {
  color: #fff;
}
.contact .overlay .contact-inner .contact-sub {
  color: #fff;
  font-size: 18px;
}
.contact .overlay .contact-inner .contact-form {
  margin-top: 30px;
}
.contact .overlay .contact-inner .contact-form label {
  width: 100%;
  color: #fff;
}
.contact .overlay .contact-inner .contact-form textarea {
  height: 170px;
  resize: none;
}
.contact .overlay .contact-inner #contact-error {
  display: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b32a2a;
  border-radius: 5px;
  color: #fff;
}
.contact .overlay .contact-inner #contact-message {
  display: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1a880c;
  border-radius: 5px;
  color: #fff;
}
.container {
  position: relative;
}
#cookie-consent {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #333;
  z-index: 999999;
  padding: 10px;
  margin: auto;
  color: #fff;
  left: 0px;
  right: 0px;
}
#cookie-consent .cookie-consent-text {
  float: left;
  padding-top: 9px;
  padding-left: 10px;
}
#privacy--page {
  padding: 20px;
  color: #333;
}
#privacy--page p {
  color: #333;
}
#privacy--page b {
  color: #333;
}
#privacy--page h5 {
  color: #4580e0;
}
#forgot--password .forgot-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: #eee;
  border: solid 1px #aaa;
  border-radius: 5px;
}
#forgot--password .forgot-container .forgot-form {
  padding: 20px;
}
#forgot--password .forgot-container .forgot-form label {
  width: 100%;
}
#forgot--password .forgot-container .forgot-header {
  width: 100%;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
}
.heading {
  font-size: 28px;
  font-family: "Open Sans";
  font-weight: 600;
  text-align: center;
}
#home--page .hero,
#posts--page .hero {
  width: 100%;
  height: 500px;
  background-image: url("/images/hero.jpeg");
  background-size: cover;
  background-position: center center;
  background-color: #333;
  box-shadow: 0 2px 10px #666;
}
#home--page .hero .overlay,
#posts--page .hero .overlay {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
}
#home--page .hero .overlay .text-container,
#posts--page .hero .overlay .text-container {
  font-family: "Open Sans";
  color: #fff;
  position: absolute;
  top: 0px;
  bottom: 0px;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 200px;
}
#home--page .hero .overlay .text-container .title,
#posts--page .hero .overlay .text-container .title {
  font-weight: 400;
  font-size: 40px;
}
#home--page .hero .overlay .text-container .sub-title,
#posts--page .hero .overlay .text-container .sub-title {
  font-weight: 700;
  line-height: 1;
  font-size: 59px;
}
#home--page .hero .overlay .text-container .button,
#posts--page .hero .overlay .text-container .button {
  margin-top: 20px;
  font-family: "Open Sans" !important;
  font-weight: 600;
  font-size: 20px;
}
#home--page .featured .col-md-4,
#posts--page .featured .col-md-4 {
  padding-left: 20px;
  padding-right: 20px;
}
#home--page .featured .featured-item,
#posts--page .featured .featured-item {
  cursor: pointer;
  margin: auto;
  position: relative;
  text-align: justify;
  max-width: 280px;
  padding-bottom: 30px;
}
#home--page .featured .featured-item .image,
#posts--page .featured .featured-item .image {
  height: 180px;
  overflow: hidden;
  box-shadow: 0 0 5px #333;
  margin-bottom: 5px;
}
#home--page .featured .featured-item .image img,
#posts--page .featured .featured-item .image img {
  max-width: 100%;
}
#home--page .featured .featured-item .subheader,
#posts--page .featured .featured-item .subheader {
  font-family: "Open Sans";
  font-weight: 600;
  color: #777;
  font-size: 13px;
}
#home--page .featured .featured-item .title,
#posts--page .featured .featured-item .title {
  text-align: left;
  padding-top: 0px;
  font-size: 25px;
  font-family: "Open Sans";
  color: #4580e0;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1px;
}
#home--page .featured .featured-item .spoiler,
#posts--page .featured .featured-item .spoiler {
  padding-top: 5px;
  font-size: 15px;
  color: #333;
  line-height: 1.5;
}
#home--page a,
#posts--page a {
  color: inherit;
  text-decoration: none;
}
footer {
  height: 50px;
  background-color: #333;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 99;
}
footer .text {
  padding-top: 15px;
  font-family: "Open Sans";
}
.button-feedback {
  padding-top: 14px;
  padding-left: 7px;
  padding-right: 7px;
  display: inline-block;
}
.tag-show .badge {
  margin-right: 5px;
}
.page {
  width: 100%;
}
.timeline-container {
  width: 100%;
}
.timeline-container .timeline-inner {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  font-family: "Open Sans";
}
.timeline-container .timeline-inner .timeline-heading {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
  color: #000;
}
.timeline-container .timeline-inner .place {
  padding-left: 30px;
}
.timeline-container .timeline-inner .place .place-title {
  font-weight: 600;
  font-size: 25px;
  color: #000;
}
.timeline-container .timeline-inner .place .time-at {
  font-weight: 400;
  font-size: 13px;
  line-height: 8px;
  color: #666;
  margin-bottom: 15px;
}
.timeline-container .timeline-inner .place .position {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  position: relative;
}
.timeline-container .timeline-inner .place .position .bullet {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #666;
  border-radius: 100px;
  top: 8px;
  left: -4px;
}
.timeline-container .timeline-inner .place .position .title {
  font-weight: 700;
  color: #000;
  font-size: 18px;
  padding-left: 20px;
}
.timeline-container .timeline-inner .place .position .timeline-description {
  color: #333;
  font-size: 15px;
  padding-left: 20px;
  border-left: solid 2px #666;
}
.timeline-container .timeline-inner .place .position .timeline-description .dates {
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 10px;
}
.timeline-container .timeline-inner .education {
  margin-top: 40px;
}
.timeline-container .timeline-inner .moretext {
  color: #4580e0;
  cursor: pointer;
  user-select: none;
}
.sec-title {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
  margin-bottom: 30px;
  margin-top: 50px;
}
#about .image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: auto;
  overflow: hidden;
}
#about .image img {
  width: 100%;
}
#about .name {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
#about .about {
  text-align: justify;
}
#about .about .about-text p {
  margin-bottom: 10px;
}
#awards ul {
  list-style: none;
  margin: 0px;
}
#awards ul li {
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 19px;
}
#awards ul li span {
  font-size: 14px;
  font-weight: 600;
  color: #666;
}
